#header1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#jumbo1 {
    background-color: white;
}

#jumbo2 {
    background-color: black;
    color: white;
    width: auto;
}
#searchBtn {
    background-color: grey;
    color: black;
    border-radius: 20px;
    padding: 3%;
}
#jumbo3 {
    background-color: gray;
    color: black;
}